<ion-header>
  <ion-navbar>
    <ion-title>Seleccionar asiento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let row of seats">
      <ion-col *ngFor="let seat of row; let index = index" col-2 
        [attr.offset-4]="index == 2 ? true : null">
        <button ion-button block (click)="selectSeat(seat.id)" 
          [color]="isSeatAvailable(seat.id) ? 'secondary' : 'danger'"
          [attr.disabled]="isSeatAvailable(seat.id) ? null : true">{{ seat.id }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
