<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Reserva de Bus</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Seleccione Fecha:</ion-label>
      <ion-datetime displayFormar="MM/DD/YYYY" [(ngModel)]="selectedDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Seleccione Bus:</ion-label>
      <ion-select [(ngModel)]="selectedBus" interface="action-sheet" placeholder="---">
        <ion-option *ngFor="let bus of buses" [value]="bus">{{ bus.name }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="showBusLayout()">Seleccionar asiento</button>
  <button ion-button block (click)="showBusPassengerList()">Ver manifiesto</button>
  <!-- <button ion-button block (click)="logout()">Logout</button> -->
</ion-content>
