<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Aprobar Reservas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let booking of bookings" >
      <ion-item>
        <h2>{{ booking.name }}</h2>
        <p>{{ booking.date }} - {{ booking.busName }}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="approveBooking()">
          <ion-icon name="create"></ion-icon>
          Aprobar
        </button>
        <button ion-button color="danger" (click)="rejectBooking()">
          <ion-icon name="trash"></ion-icon>
          Rechazar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
