<ion-header>
  <ion-navbar>
    <ion-title>Lista de Pasajeros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-input [(ngModel)]="tripDate" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Bus</ion-label>
      <ion-input [(ngModel)]="bus.name" readonly></ion-input>
    </ion-item> 
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-8><h5>Pasajero</h5></ion-col>
      <ion-col col-4><h5>Asiento</h5></ion-col>
    </ion-row>
    <ion-row *ngFor="let passenger of passengers">
      <ion-col col-8>{{ passenger.name }}</ion-col>
      <ion-col col-4>{{ passenger.seat }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
