<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Actualizar Datos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="onUpdateData(form)">
    <ion-list>
      <ion-item>
        <ion-label fixed>Nombres</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="lastname" name="lastname" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Area</ion-label>
        <ion-input type="text" [(ngModel)]="department" name="department" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Empresa</ion-label>
        <ion-input type="text" [(ngModel)]="company" name="company" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Puesto</ion-label>
        <ion-input type="text" [(ngModel)]="position" name="position" required></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!form.valid">Guardar</button>
  </form>
</ion-content>
