<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item icon-left (click)="onLoad(rootPage)" *ngIf="isAuthenticated">
        <ion-icon name="bus"></ion-icon>
        Reserva de Bus
      </button>
      <button ion-item icon-left (click)="onLoad(signinPage)" *ngIf="!isAuthenticated">
        <ion-icon name="log-in"></ion-icon>
        Ingresar
      </button>
      <button ion-item icon-left (click)="onLoad(signupPage)" *ngIf="!isAuthenticated">
        <ion-icon name="person"></ion-icon>
        Registrarse
      </button>
      <button ion-item icon-left (click)="onLoad(personPage)" *ngIf="isAuthenticated">
        <ion-icon name="settings"></ion-icon>
        Actualizar datos
      </button>
      <button ion-item icon-left (click)="onLoad(approveBookingsPage)" *ngIf="isAuthenticated">
        <ion-icon name="book"></ion-icon>
        Aprobar reservas
      </button>
      <button ion-item icon-left (click)="onLoad(approveUsersPage)" *ngIf="isAuthenticated">
        <ion-icon name="people"></ion-icon>
        Aprobar usuarios
      </button>
      <button ion-item icon-left (click)="onLogout()" *ngIf="isAuthenticated">
        <ion-icon name="log-out"></ion-icon>
        Salir
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
